<div *ngIf="!country, else divCountry" class="alert alert-info">
    Loading...
</div>

<ng-template #divCountry>
    <div class="row">
        <div class="col-12">
            <h1 class="animate__animated animate__fadeInDown">Country: <small>{{ country.name }}</small></h1>
        </div>
    </div>

    <div class="row animate__animated animate__fadeIn">
        <div class="col-4">
            <h3>Flag</h3>
            <img [src]="country.flag" [alt]="country.name" class="img-thumbnail">
        </div>
        <div class="col">
            <h3>Info</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Capital:</strong> {{country.capital}}
                </li>
                <li class="list-group-item">
                    <strong>Currency:</strong> {{country.currencies[0].name}}
                </li>
                <li class="list-group-item">
                    <strong>Laguage:</strong> {{country.languages[0].name}}
                </li>
                <li class="list-group-item">
                    <strong>Population:</strong> {{country.population | number}}
                </li>
                <li class="list-group-item">
                    <strong>Region:</strong> {{country.region}}
                </li>
                <li class="list-group-item">
                    <strong>Sub-Region:</strong> {{country.subregion}}
                </li>
            </ul>
        </div>
    </div>

    <div class="row animate__animated animate__fadeIn">
        <div class="col">
            <h3>Translations</h3>
            <span class="badge bg-primary mr-1">{{country.translations.br}}</span>
            <span class="badge bg-primary mr-1">{{country.translations.de}}</span>
            <span class="badge bg-primary mr-1">{{country.translations.es}}</span>
            <span class="badge bg-primary mr-1">{{country.translations.fa}}</span>
            <span class="badge bg-primary mr-1">{{country.translations.fr}}</span>
            <span class="badge bg-primary mr-1">{{country.translations.hr}}</span>
            <span class="badge bg-primary mr-1">{{country.translations.it}}</span>
            <span class="badge bg-primary mr-1">{{country.translations.ja}}</span>
            <span class="badge bg-primary mr-1">{{country.translations.nl}}</span>
            <span class="badge bg-primary mr-1">{{country.translations.pt}}</span>
        </div>
    </div>

    <!-- <pre class="mt-5">
        {{ country | json }}
    </pre> -->

</ng-template>

