<h2>By Region <small> {{ active_region | titlecase }} </small> </h2>
<hr>
<h5>Select Region</h5>

<div class="row">
    <div class="col">
        <button 
        *ngFor="let region of regions" 
        [class]="getCssClass(region)" 
        (click)="activate_region(region)">
        {{region | titlecase}}
    </button>
</div>
</div>

<!-- Error message -->
<app-search-error></app-search-error>

<!-- Countries results table -->
<div class="row">
    <div class="col">
        <app-countries-table></app-countries-table>
    </div>
</div>

<!-- Change css class dinamically -->
<!-- Option I - Last css classes remains -->
<!-- [class.btn-primary] = "region === active_region" -->
<!-- Option II - Angular needs to evaluate two conditions. Efficiency lack -->
<!-- [ngClass] = "{
    'btn-primary': region === active_region,
    'btn-outline-primary': region !== active_region
}" -->